[submodule "plugins/GenericIPBus_plugin"]
	path = plugins/GenericIPBus_plugin
	url = https://github.com/BU-Tools/GenericIPBus_plugin.git
	branch = develop
[submodule "plugins/BUTool-IPBUS-Helpers"]
	path = plugins/BUTool-IPBUS-Helpers
	url = https://github.com/BU-Tools/BUTool-IPBUS-Helpers.git
	branch = develop
[submodule "BUTool"]
	path = BUTool
	url = https://gitlab.com/BU-EDF/BUTool/BUTool.git
	branch = feature/herd
[submodule "plugins/ApolloSM_plugin"]
	path = plugins/ApolloSM_plugin
	url = https://gitlab.com/apollo-lhc/software/ApolloSM_plugin.git
	branch = develop
